/* 전체 크기 */
.Template {
    padding-top: 20px;
    max-height: 100vh;
}

/* 오늘의 할일 */
.title {
    width: 90vw;
    /* 자동으로가운데 */
    margin-left: auto;
    /* 자동으로가운데 */
    margin-right: auto;

    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6c567b;
}
